body{
    font-family: bankgothic-md-bt;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    bacground-color: #333;
    color: white;
    padding: 15px 0;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.hero{
    bacground-color: #ff6b6b;
    color: white;
    padding: 100px 20px;
}

footer{
    bacground-color: #222;
    color: white;
    padding: 10px
}